body {
	background-color: #F4F4F4;
	font-size: 16px;
}


.login {
	width: 300px;
	margin: 100px auto;
}

.login h4 {
	color: #888;
}

.login input {
	margin-bottom: 10px;
}

.login .form-control {
	background-color: #EAEAEA;
}

.login .btn {
	background-color: #008dde;
}



/* Start Members Page */

h1 {
	font-size: 55px;
	margin: 40px 0;
	font-weight: bold;
	color: #666;
}

.show-pass {
	position: absolute;
	top: 6px;
	right: -30px;
}


.main-table {
	-webkit-box-shadow: 0 3px 10px #CCC;
	-moz-box-shadow: 0 3px 10px #CCC;
	box-shadow: 0 3px 10px #CCC;
}

.main-table td {
	background-color: #FFF;
	vertical-align: middle !important;
}

.main-table tr:first-child td { /* You Can Use Thead */
	background-color: #333;
	color: #FFF;
}

.main-table .btn {
	padding: 3px 10px;
}

.activate {
	margin-left: 5px;
}

.admin {
	margin-left: 5px;
}

/* End Members Page */
